body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  color: blue;
  display: block;
  margin: auto;
  padding: 20px;
  border-color: black;
}
.searchInput {
  width: 100%;
}
h1 {
  padding: 20px;
}
ul {
  list-style: none;
}
hr {
  color: black;
}
